.hero{
    background: url(https://64.media.tumblr.com/f113fd2f34a97c6f00df98eaccfaf3ad/57d8916a85433cfd-8b/s540x810/4e38b593ead2d49ff63a12be16910cb7f8fcd201.jpg)no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
    width: 100vw;

}

@media (max-width: 1000px) {
    .hero{
        background: url(https://64.media.tumblr.com/f113fd2f34a97c6f00df98eaccfaf3ad/57d8916a85433cfd-8b/s540x810/4e38b593ead2d49ff63a12be16910cb7f8fcd201.jpg)no-repeat;
        background-size: contain;
        height: 100vh;
        width: 100vw;

    }
}

@media (min-width:1000px) {
    .hero{
       
    }
}